
.call-for-help {
  text-align: center;
  margin-top: 20px;
}

.call-for-help-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.red-text {
  color: red;
  font-weight: bold;
}

.box {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.box h2 {
  margin-bottom: 10px;
}

.justified-text {
  text-align: justify;
}

.centered-text {
  text-align: center;
}

/* Styles for "See Directory" and "Emergency" buttons */
.see-directory-btn,
.emergency-btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 20px; /* Adjusted button padding */
  margin-bottom: 5px; /* Further reduced button margin */
  border: none;
  text-decoration: none;
  color: black;
  background-color: #cecdcd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  font-size: 1.2rem; /* Adjusted button text size */
}

.see-directory-btn:hover{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  padding: 9px;
  border-radius: 5px;
}
.emergency-btn:hover {
  background-color: red;
  color: white;
}

/* Additional styles for left and right buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; /* Further reduced margin between button containers */
}

.left-button,
.right-button {
  width: 50%; /* Adjusted button container width */
}

.left-button .see-directory-btn{
  width: 52%;
  margin-left: 320px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.right-button .emergency-btn {
  width: 52%;
  margin-right: 300px; 
  margin-top: 30px;/* Adjusted button width to be the same as text below */
  margin-bottom: 30px;
}

/* Additional styles for text below buttons */
.button-description {
  text-align: justify;
  font-size: 1rem; /* Adjusted text size below buttons */
  width: 50%; /* Adjusted width to be the same as buttons */
  margin-bottom: 3px;
}

.button-description-box {
  border: 2px solid red;
  padding: 10px;
}

.button-description-left {
  margin-bottom: 3px; 
  margin-left: 360px; /* Further reduced margin below button description */
  color: black;
  border:2px solid cecdcd;
  padding: 10px;
  border-radius: 5px;
  background-color: #cecdcd;
}

.button-description-left .button-description-box {
  display: inline-block;
}

.button-description-right {
  margin-bottom: 3px; 
  margin-left: 51px;/* Further reduced margin below button description */
  color: black;
  border:2px solid cecdcd;
  padding: 10px;
  border-radius: 5px;
  background-color: #cecdcd;
}

.button-description-right .button-description-box {
  display: inline-block;
}


