/* CallforHelp.css */

/* Existing styles... */

/* New styles for call-for-help section */
.call-for-help {
  text-align: center;
  margin-top: 20px;
}

.call-for-help-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.red-text {
  color: red;
  font-weight: bold;
}

.box {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.box h2 {
  margin-bottom: 10px;
}

.justified-text {
  text-align: justify;
}

.centered-text {
  text-align: center;
}

/* Styles for "See Directory" and "Emergency" buttons */
.see-directory-btn,
.emergency-btn {
  display: inline-block;
  padding: 12px 20px; /* Adjust button padding */
  margin-bottom: 15px; /* Adjust button margin */
  border: none;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  font-size: 1.2rem; /* Adjust button text size */
}

.see-directory-btn:hover{
  background-color: #ccc;
  color: black;
}
.emergency-btn:hover {
  background-color: red;
  color: white;
}

/* Additional styles for text below buttons */
.button-description {
  text-align: justify;
  margin-bottom: 15px; /* Adjust margin below button description */
  font-size: 1rem; /* Adjust text size below buttons */
  width: 50%; /* Adjust the width to be the same as buttons */
  margin-left: 25%; /* Remove left margin */
}

/* Additional styles for left and right buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; /* Adjust margin between button containers */
}

.left-button,
.right-button {
  width: 48%; /* Adjust button container width */
}

.left-button .see-directory-btn,
.right-button .emergency-btn {
  width: 50%; /* Adjust button width to be the same as text below */
}
