.dashboard-nav a,
.dashboard-nav button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  text-decoration: none;
  color: black;
  background-color: #e1e1e1;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Style for hover effect */
.dashboard-nav a:hover,
.dashboard-nav button:hover {
  background-color: red;
  color: white;
}

.description {
    font-size: 20px;
}

.allyouneed {
  width: 90%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the div horizontally */
  text-align: left; /* Align text to the left within the div */
  position: relative;
}

.respohead {
    font-size: 85px;
    font-weight: bold;
}

.callforhead {
    font-size: 70px;
    font-weight: bold;
}

.weatherhead {
    font-size: 70px;
    font-weight: bold;
}

.emergencyhead {
    font-size: 70px;
    font-weight: bold;
}

.scroll-line {
  width: 100%;
  height: 1px;
  background-color: #000; /* Change the color as needed */
  position: absolute;
  bottom: -10px; /* Adjust this value to position the line precisely */
  left: 0;
}

.callforhelp {
  width: 90%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the div horizontally */
  text-align: left; /* Align text to the left within the div */
  position: relative;
}

.extended-line {
  height: 1px;
  background-color: black;
  width: 100%; /* Extend the line across the container */
}

.third-line {
  height: 1px;
  background-color: black;
  width: 100%; /* Extend the line across the container */
}

.footer {
    background-color: #f2f2f2; /* Grey background color */
    padding: 20px; /* Adjust padding as needed */
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* Font color */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right {
    text-align: right;
  }