/* SeeDirectory.css */

.emergency {
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.directory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.table-container {
  overflow-x: auto;
}

.centered-table {
  width: 70%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Add some padding for content spacing */
  overflow-x: auto;
}

.footer {
  text-align: center;
  margin-top: 20px; /* Adjust margin to create space between table and footer */
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}

/* Table styles */
table {
  width: 70%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 16px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
.text-wrapper-6 {
  margin-top: 10px; /* Add margin for spacing */
  font-style: italic;
  color: #666; /* Adjust text color */
}
