.emergency {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.emergency .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.emergency .emergency-tutorials {
    color: transparent;
    font-family: "Bebas Neue-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    height: 75px;
    left: 668px;
    letter-spacing: 0;
    line-height: 73.2px;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 209px;
    white-space: nowrap;
    width: 584px;
}

.emergency .text-wrapper {
    color: #000000;
}

.emergency .span {
    color: #c30101;
}

.emergency .inverted {
    height: 74px;
    left: 437px;
    position: absolute;
    top: 7px;
    width: 101px;
    background: transparent;
    border: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for color and transform */
}

.emergency .inverted:hover {
    transform: scale(1.1);
}

.emergency .text-wrapper-2 {
    color: #c30101;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 24px;
    left: 669px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 50px;
    white-space: nowrap;
    width: 121px;
    background: transparent;
    border: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for color and transform */
}

.emergency .text-wrapper-2:hover {
    transform: scale(1.1);
}

.emergency .text-wrapper-3 {
    color: #c30101;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 26px;
    left: 864px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 195px;
    background: transparent;
    border: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for color and transform */
}

.emergency .text-wrapper-3:hover {
    transform: scale(1.1);
}

.emergency .text-wrapper-4 {
    color: #c30101;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 26px;
    left: 1100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 237px;
    background: transparent;
    border: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for color and transform */
}

.emergency .text-wrapper-4:hover {
    transform: scale(1.1);
}

.emergency .text-wrapper-5 {
    color: #c30101;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 24px;
    left: 1379px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 50px;
    white-space: nowrap;
    width: 82px;
    background: transparent;
    border: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for color and transform */
}

.emergency .text-wrapper-5:hover {
    transform: scale(1.1);
}

.emergency .line {
    height: 3px;
    left: 0;
    position: absolute;
    top: 978px;
    width: 1920px;
}

.emergency .p {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    height: 25px;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 1018px;
    width: 353px;
}

.emergency .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    height: 18px;
    left: 1698px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 1023px;
    white-space: nowrap;
    width: 160px;
}

.centered-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .centered-content {
    text-align: center;
    margin: 20px;
  }

  .admin-dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .dashboard-content{
    text-align: center;
  }
  